<table class="table" id="apiTable">
			    <thead>
			      <tr>
			        <th>Task</th>
			        <th>Method</th>
			        <th>Route</th>
			        <th>Accepts</th>
			        <th>Returns</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td><a href="#/cabinet/collection#getAll">Get colletion</a></td>
			        <td>GET</td>
			        <td>collections/{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')" title="Click to copy URL!"></span>
			</button></td>
			        <td>Nothing</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#pushNew">Add new element</a></td>
			        <td>POST</td>
			        <td>collections/{{collectionAsJson._id}}</td>
			        <td>Array with 1 object</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#pushArray">Add multiple elements</a></td>
			        <td>POST</td>
			        <td>collections/{{collectionAsJson._id}}</td>
			        <td>Array with objects</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#deleteOne">Delete one element</a></td>
			        <td>PATCH</td>
			        <td>collections/{{collectionAsJson._id}}</td>
			        <td>Object for deletion</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#deleteAll">Delete all elements</a></td>
			        <td>PATCH</td>
			        <td>collections/{{collectionAsJson._id}}?deleteAll=true</td>
			        <td>Nothing</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#updateOne">Update one element</a></td>
			        <td>PUT</td>
			        <td>collections/{{collectionAsJson._id}}</td>
			        <td>Original Object and Updated Object</td>
			        <td>Status code</td>
			      </tr>
			      <tr>
			        <td><a href="#/cabinet/collection#updateAll">Update all elements</a></td>
			        <td>PUT</td>
			        <td>collections/{{collectionAsJson._id}}?updateAll=true</td>
			        <td>Array with elements</td>
			        <td>Status code</td>
			      </tr>
			    </tbody>
			</table>
			<br>
			<br>
			<!-- GET COLLECTION METHOD DESCRIPTION -->
			<h2 id="getAll">Get colletion</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>Data from your <em>{{collectionAsJson.name | uppercase}}</em> collection can be read by issuing an <strong>HTTP GET</strong> request to an endpoint:</footer>
			</blockquote>

			<pre><strong>GET</strong> {{urlOfWebsite}}{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')"></span>
			</button></pre>			

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.The response will contain the data being retrieved:</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
getCollection: function() {
    $http({
        url: "{{urlOfWebsite}}{{collectionAsJson._id}}",
        method: "GET"
    }).success(function (data,status) {
         // Successfull operation
         // Your collection is in data
         // Status code in status
    }).error(function(data, status) {
       	 // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable">Go Up</a>
			<hr>

			<!-- ADD NEW ITEM METHOD DESCRIPTION -->
			<h2 id="pushNew">Add new element</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>You can push/add new item into your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>HTTP POST</strong> request to an endpoint. You need to include <strong>array</strong> with your new item into HTTP request</footer>
			</blockquote>

			<pre><strong>POST</strong> {{urlOfWebsite}}{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
<strong>Preconditions:</strong> you need store your item inside an array
var <strong>newItem</strong> = [ 
 {
  "name"     : "Bob",
  "lastName" : "Jensen",
  "age"      : 21,
  "email"    : "bob.jensen@mail.dk",
  "phone"    : "+45 91449835"
 }
];

pushNewItem: function(<strong>newItem</strong>) {
    $http({
        method: 'POST',
        url: "{{urlOfWebsite}}{{collectionAsJson._id}}",
        data: <strong>newItem</strong>
    }).success(function (status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
       	 // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>
			<!-- ADD MULTIPLE ITEMS METHOD DESCRIPTION -->
			<h2 id="pushArray">Add multiple elements</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>You can push/add multiple new items into your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>HTTP POST</strong> request to an endpoint. You need to include <strong>array</strong> with your new items into HTTP request</footer>
			</blockquote>

			<pre><strong>POST</strong> {{urlOfWebsite}}{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
<strong>Preconditions:</strong> you need store your items inside an array
var <strong>newItems</strong> = [ 
 {
  "name"     : "Bob",
  "lastName" : "Jensen",
  "age"      : 23,
  "email"    : "bob.jensen@mail.dk",
  "phone"    : "+45 91449835"
 },
 {
  "name"     : "Jens",
  "lastName" : "Bobsen",
  "age"      : 32,
  "email"    : "jens.bobsen@mail.dk",
  "phone"    : "+45 91984435"
 },
 {
  "name"     : "John",
  "lastName" : "Galt",
  "age"      : 45,
  "email"    : "j.galt@mail.dk",
  "phone"    : "+45 91354498"
 }
];

pushNewItem: function(<strong>newItems</strong>) {
    $http({
        method: 'POST',
        url: "{{urlOfWebsite}}{{collectionAsJson._id}}",
        data: <strong>newItems</strong>
    }).success(function (status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
       	 // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>

			<!-- DELETE ITEM METHOD DESCRIPTION -->
			<h2 id="deleteOne">Delete one element</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>You can <strong>delete</strong> specific item from your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>HTTP PATCH</strong> request to an endpoint. You need to include <strong>item you want to delete</strong> into HTTP request</footer>
			</blockquote>

			<pre><strong>PATCH</strong> {{urlOfWebsite}}{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
<strong>Preconditions:</strong> you have item you want to delete.
var <strong>itemForDeletion</strong> = {
  "name"     : "Bob",
  "lastName" : "Jensen",
  "age"      : 23,
  "email"    : "bob.jensen@mail.dk",
  "phone"    : "+45 91449835"
 };

removeItem: function(<strong>itemForDeletion</strong>) {
    $http({
        method: 'PATCH',
        url: '{{urlOfWebsite}}{{collectionAsJson._id}}',
        data: <strong>itemForDeletion</strong>
    }).success(function (response,status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
       	 // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>

			<!-- DELETE COllECTION METHOD DESCRIPTION -->
			<h2 id="deleteAll">Delete all elements from your collection</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>You can <strong>delete</strong> all items from your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>HTTP PATCH</strong> request to an endpoint. You need to include <strong>item you want to delete</strong> into HTTP request</footer>
			</blockquote>

			<pre><strong>PATCH</strong> {{urlOfWebsite}}{{collectionAsJson._id}}?deleteAll=true <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'?deleteAll=true')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
removeCollection: function() {
    $http({
        method: 'PATCH',
        url: '{{urlOfWebsite}}{{collectionAsJson._id}}?deleteAll=true'
    }).success(function (response,status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
       	 // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>

			<!-- UPDATE ONE ITEM  METHOD DESCRIPTION -->
			<h2 id="updateOne">Update one element</h2>
			<blockquote>
			  <h4>Request</h4>
			  <footer>You can <strong>update</strong> specific items in your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>PUT</strong> request to an endpoint. You need to include <strong>object</strong> with 2 variables: <strong>original object</strong> you want to update and <strong>new object with updated state</strong> into HTTP request. </footer>
			</blockquote>

			<pre><strong>PUT</strong> {{urlOfWebsite}}{{collectionAsJson._id}} <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

			<pre>
<strong>Preconditions:</strong> you have item you want to update and new value for this item.
var <strong>items</strong> = {
  "originalItem" {
      "name"     : "Bob",
      "lastName" : "Jensen",
      "age"      : 23,
   },
   "updatedItem" {
      "name"     : "Bob",
      "lastName" : "Bensen",
      "age"      : 25,
   }
 };

updateItem: function(<strong>items</strong>) {
    $http({
        method: 'PUT',
        url: '{{urlOfWebsite}}{{collectionAsJson._id}}',
        data: <strong>items</strong>
    }).success(function (response,status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
         // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>

			<!-- UPDATE ALL ITEMS  METHOD DESCRIPTION -->
			<h2 id="updateAll">Update all elements</h2>
			  <h4>Request</h4>
			  <footer>You can <strong>update</strong> all items in your <em>{{collectionAsJson.name | uppercase}}</em> collection by sending <strong>PUT</strong> request to an endpoint. You need to include <strong>object</strong> with <strong>array with items</strong> you want to have in your collection.<strong>Attention!</strong> With this operation you will all items you currently have in your collection.</footer>
			</blockquote>

			<pre><strong>PUT</strong> {{urlOfWebsite}}{{collectionAsJson._id}}?updateAll=true <button type="button" class="btn btn-xs btn-default pull-right">
			  <span class="glyphicon glyphicon-link" aria-hidden="true" ng-click="clickHandler(collectionAsJson._id,'?updateAll=true')"></span>
			</button></pre>

			<blockquote>
			  <h4>Response</h4>
			  <footer>A successful request will be indicated by a <strong>200</strong> HTTP status code.</footer>
			</blockquote>

			<blockquote>
			  <h4>Possible errors</h4>
			  <footer>In case of an error - server will send you short message with error description.</footer>
			</blockquote>

			<blockquote>
			  <h4>Example in AngularJs</h4>
			  <footer>Using <strong>$http</strong> service.
			</blockquote>

<pre>
<strong>Preconditions:</strong> you have array with items you want to replace all items you currentyl have in your collection.
var <strong>items</strong> = [
  {
   "name"     : "Bob",
   "lastName" : "Jensen",
   "age"      : 23,
   "email"    : "bob.jensen@mail.dk",
   "phone"    : "+45 91449835"
  },
  {
   "name"     : "Jens",
   "lastName" : "Bobsen",
   "age"      : 32,
   "email"    : "jens.bobsen@mail.dk",
   "phone"    : "+45 91984435"
  },
  {
   "name"     : "John",
   "lastName" : "Galt",
   "age"      : 45,
   "email"    : "j.galt@mail.dk",
   "phone"    : "+45 91354498"
  }
 ];

updateItem: function(<strong>items</strong>) {
    $http({
        method: 'PUT',
        url: '{{urlOfWebsite}}{{collectionAsJson._id}}?updateAll=true',
        data: <strong>items</strong>
    }).success(function (response,status) {
         // Successfull operation
         // Status code in status
    }).error(function(data, status) {
         // Error during request
    });
};
			</pre>
		
			<a class="btn btn-primary" href="#/cabinet/collection#apiTable"><strong>Go Up</strong></a>
			<hr>

