<hr/>
<div class="row">

	<!-- 3 COLUMNS -->
	<div class="col-md-4">
	    <div class="list-group">
		  <a class="list-group-item active" ui-sref="profile.default">Profile</a>
		  <a class="list-group-item" ui-sref="profile.change-password">Change password</a>
		  <a class="list-group-item" ui-sref="profile.change-email">Change email</a>
		</div>
	</div><!-- END OF LEF MENU -->

	<div class="col-md-8">
		<!-- CHILDREN VIEWS  LOADING HERE START -->
		    <div ui-view></div>
		<!-- CHILDREN VIEWS  LOADING HERE END -->
	</div>	
</div>	

<br>
<hr/>

